<%= form_for Product.new do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :cost %><br>
    <%= form.text_field :cost %>
  </p>

  <p>
    <%= form.label :origin %><br>
    <%= form.text_field :origin %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
